* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.wrapper>* {
    display: inline;
}

.wrapper>div:first-child {
    display:block;
}

.footer_class, .push {
	height: 4em;
}

#footer {
	background: #cc9;
	clear: both;
	align: center;
}


#body, html {
	/* background-color: #b0c4de; */
	background-image: url("/images/subtle_white_mini_waves.png");
    color: #000066;
}

#main {
	/* background-color: #b0c4de; */
}

#header {
	background: #ddd;
}

#nav {
	background: #c99
}

#sidebar {
	background: #c9c;
}

h1 {
	font-size: 2.0em;
	margin: .5em 0;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	margin: .5em 0;
    text-align: center;
}

h3 {
	font-size: 1.5em;
	margin: .5em 0;
    text-align: left;
}

p {
	margin: .5em 0;
}

#load_camera_image
{
	width: 640px;
    height: 480px;
	border:2px solid blue;
}

#cameraControlDivId {
	/* border:2px solid blue; */
}

.sliderCamera
{
    width: 360px !important;
}

td {
    text-align: left; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}
.text_user_message {
	font-size: 1.2em;
	margin: .5em 0;
	text-align: left;
}

canvas {
	border:1px solid blue;
}

#app_start_stop_button {
    width: 48px;
    height: 48px;
    background: url('../images/app_start_stop_1.png') 0 0 no-repeat;
    border:none;
    padding: 0 4px 8px 0;
    font-weight:bold;
    outline:none;
}
#app_start_stop_button:active {
    width: 48px;
    height: 48px;
    background: url('../images/app_start_stop_2.png') 0 0 no-repeat;
    border:none;
    padding: 0 4px 8px 0;
    font-weight:bold;
    outline:none;
}

#my_custom_button {
    width: 93px;
    height: 28px;
    background: url('../images/button_normal.png') 0 0 no-repeat;
    border:none;
    padding: 0 4px 8px 0;
    font-weight:bold;
	outline:none;
}
#my_custom_button:hover {
    background: url('../images/button_hover.png') 0 0 no-repeat;
	outline:none;
}
#my_custom_button:active {
    background: url('../images/button_pressed.png') 0 0 no-repeat;
	outline:none;
}

#file_browse_wrapper {
    width: 93px;
    height: 28px;
    background: url('../images/file_browse_normal.png') 0 0 no-repeat;
    border:none;
    overflow:hidden;
}

a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:10px; margin-left:-10px;
    width:200px; height:10px; line-height:10px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:8px;border:0;left:-12px;}

/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

body
{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

nav
{
  width: 100%;
  margin: 20px 0;
}

nav ul
{
  list-style: none;
  overflow: hidden;
}

nav ul li
{
  float: left;
  width: 16%;
}

nav ul li a
{
  text-align: center;
  padding: 2px 0;
  display: block;
  width: 100%;

  background: linear-gradient(to bottom, #cc9 0%, #52523d 100%);
}

nav ul li a,
nav ul li a:focus,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active
{
  color: #000066;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:active
{
  background: linear-gradient(to bottom, #52523d 0%,#cc9 100%);
}

nav ul li:first-child a
{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

nav ul li:last-child a
{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.left_image {
	float: left;
    position: absolute;
    left: 120px;
}

.right_image {
	float: right;
    position: absolute;
    right: 120px;
}

.ui-tooltip-content
{
    color: #fff;
    font-weight: bold;
    font-size: 110%;
	line-height:150%;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
}

.ui-tooltip-titlebar,
.ui-tooltip-content {
    border-color: rgba(0, 0, 0, 0.4);
}

tab { padding-left: 2em; }
